body {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
}

h1, h2, h3{
    position: absolute;
    width: 696px;
    height: 120px;
    left: 448px;
    top: 280px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-shadow: 2px 2px 5px #ff0000, 5px 5px 5px #0e1ef5;

    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.logo {
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

    /* identical to box height */
    text-align: right;
    letter-spacing: 0.03em;

    color: #2196F3;
}

.link{
    position: absolute;
    width: 49px;
    height: 16px;
    left: 453px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.link:hover{
    color: #2196F3;
}

#banner{
    position: absolute;
    width: 1600px;
    height: 600px;
    left: -4px;
    top: 80px;

    background: #2F303A;
}

#button-main{
    position: absolute;
    width: 261px;
    height: 50px;
    left: 666px;
    top: 430px;

    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}