body {
    margin: 0;
}

main,
footer {
    padding: 20px;
}

.blocks {
    border: 2px dashed #2196f3;
    padding-top: 30px;
    padding-right: 15px;
    padding-bottom: 30px;
    padding-left: 15px;

    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}